#geoEastFileMag-modal-window .modal-dialog {
  width: 800px;
  margin: 30px auto;
}
#geoEastFileMag-modal-window .modal-body{
  padding: 0px;
}
#geoEastFileMag-modal-window .modal-body .container{
  width:800px;
  height: 500px;
  padding:0px;
}
#geoEastFileMag-modal-window .modal-body .container .row{
  border-radius: 5px;
}
#geoEastFileMag-modal-window .modal-body .container .left_menu{
  width:190px;
  height:480px;
  margin:0px;
  background-color: #F9F9F9;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#geoEastFileMag a{
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
#geoEastFileMag-modal-window .modal-body .container .left_menu a{
  display: block;
}

#geoEastFileMag-modal-window .modal-body .container .trans-list-text{
  text-align: left;
  margin:0;
  padding: 10px;
}
#geoEastFileMag-modal-window .modal-body .container .trans-list{
  list-style-type:none;
  text-align: left;
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight: 400;
  display: block;
}
#geoEastFileMag-modal-window .modal-body .container .upload-list-container,
#geoEastFileMag-modal-window .modal-body .container .download-list-container{
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0px;
}

#geoEastFileMag-modal-window .modal-body .container .upload-list-container a ,
#geoEastFileMag-modal-window .modal-body .container .download-list-container a {
  outline: none;
  text-align: left;
  padding-left: 12px;
  text-decoration: none;
  color:#333;
}

#geoEastFileMag-modal-window .modal-body .container .upload-list-icon{
  width:30px;
  height:30px;
  padding-right: 15px;
}
#geoEastFileMag-modal-window .modal-body .container .upload-list-text{
  line-height: 30px;
  padding-right: 15px;
}

#geoEastFileMag-modal-window .modal-body .container .download-list-icon{
  width:30px;
  height:30px;
  padding-right: 15px;
}
#geoEastFileMag-modal-window .modal-body .container .download-list-text{
  line-height: 30px;
  padding-right: 15px;
}
#geoEastFileMag-modal-window .modal-body .container .left_menu .badge{
  padding:5px 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #538ffb;
}
#geoEastFileMag-modal-window .modal-body .uploadList_container{
  width:585px;
  height:480px;
  margin:0 auto;
  border: 1px solid #e8e7e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#geoEastFileMag-modal-window .modal-body .uploadList_container table tr td,
.uploadList_container table thead th{
  text-align:center;
}

#geoEastFileMag-modal-window .modal-body .uploadList_container table caption .breadcrumb{
  height:auto;
  margin:0;
  padding:10px;
}

#geoEastFileMag-modal-window .modal-body .uploadList_container table caption .file-num{
  margin: 0;
  padding: 3px;
  float: right;
}


#geoEastFileMag-cover{
  width:100%;
  height:100%;
  background-color:#000;
  position:fixed;
  top:0;
  left:0;
  z-index:10061;
  opacity:0.3;
  /*兼容IE8及以下版本浏览器*/
  filter: alpha(opacity=30);
  display:block;
}
#geoEastFileMag-modal-window{
  z-index: 10062;
  display: block;
  position: fixed;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#geoEastFileMag .optBtn{
  float: right;
  padding: 0px 15px;
  outline: none;
  line-height: 19px;
  margin-right: 10px;
  background-color:#FFFFFF;
  border: 1px solid rgba(121, 121, 121, 1);
  border-radius: 5px;
  color:#666;
  cursor: pointer;
}
#geoEastFileMag .optBtnSelect{
  float: right;
  padding: 0px 15px;
  outline: none;
  line-height: 19px;
  margin-right: 10px;
  background-color: #418BCA;
  border: 0px;
  border-radius: 5px;
  color:white;
  cursor: pointer;
}

.upload-list-container span.badge,
.upload-list-container span.badge,
.download-list-container span.badge{
  min-width: 22px;
  height: 22px
}

.uploadList_container .breadcrumb{
  background-color: #F5F5F5
}



/*上传页面样式*/
.uploadList_container .uploadify-button{
  display:inline-block;
  margin:12px;
  border:1px solid #808080;
  background-color: #707070;
  line-height:24px;
  border-radius:12px;
  padding:0 18px;
  font-size:12px;
  font-weight: 600;
  font-family: '微软雅黑';
  color:#FFF;
  cursor:pointer;
  text-decoration:none;
}
.uploadList_container .uploadify-button:hover{
  background-color: #888;
}
.uploadList_container .uploadfile{
  width:0;
}
.uploadList_container .uploadify-queue .uploadify-queue-item{
  list-style-type:none;
  margin-top:10px;
}
.uploadList_container .uploadbtn,.uploadList_container .delfilebtn{
  display:inline-block;
  border:1px solid #999;
  line-height:24px;
  border-radius:4px;
  padding:0 18px;
  font-size:12px;
  color:#666;
  cursor:pointer;
  text-decoration:none;
}
.uploadList_container .up_filename,.uploadList_container .progressnum,
.uploadList_container .delfilebtn,.uploadList_container .uploadbtn,.uploadList_container .up_percent{
  font-size:12px;
  color:#666;
}
.uploadList_container .uploadify-progress{
 display:inline-block; 
 width:600px; 
 height:10px; 
 background-color:white;
 border-radius:20px;
 border:2px groove #666;
 vertical-align:middle;
 padding:0;
 overflow: hidden;
 display: none;
}
.uploadList_container .uploadify-progress-bar{
  width:0;
  height:100%;
  border-radius:20px;
  background-color: #0099FF;
}

.uploadList_container .uploadify-queue-item{
  height: 40px;
  line-height: 40px;
}

.uploadList_container .uploadify-queue-item:nth-child(odd){
  background-color: white
}


.uploadList_container .uploadify-queue-item *{
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size:14px;
  color:#333;
}

.uploadList_container .fileTabHeader{
  height: 35px;
  width: 580px;
  margin: 0px;
  text-align: center;
  background-color: #f0f0f0;
}
.uploadList_container .fileTabHeader div{
  font-size: 14px;
  color:#333;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.uploadList_container .uploadify-queue-item .up_filename{
  width: 150px;
  float:left;
  line-height: 30px;
  text-align: center;
  font-size:14px;
  color: #333;
}

.uploadList_container .fileTabHeader .th-filename{
  width: 150px;
  float:left;
  line-height: 35px;
  text-align: center;
  font-size:14px;
  color: #7b7b7b;
  font-weight: 600;
}

.uploadList_container .uploadify-queue-item .up_percentDiv,
.uploadList_container .uploadify-queue-item .uploadBtnDiv,
.uploadList_container .uploadify-queue-item .delFileBtnDiv
{
  width:95px;
  float: left;
  line-height: 30px;
  text-align: center;
}

.uploadList_container .uploadify-queue-item .progressnum{
  width:140px;
  float: left;
  line-height: 30px;
  text-align: center;
}

.uploadList_container .fileTabHeader .th-percentDiv,
.uploadList_container .fileTabHeader .th-uploadBtnDiv,
.uploadList_container .fileTabHeader .th-delFileBtnDiv
{
  width:95px;
  float: left;
  line-height: 35px;
  text-align: center;
  font-size:14px;
  color: #7b7b7b;
  font-weight: bold;
}

.uploadList_container .fileTabHeader .th-progressnum{
  width:140px;
  float: left;
  line-height: 35px;
  text-align: center;
  font-size:14px;
  color: #7b7b7b;
  font-weight: bold;
}

#geoEastUpBtn{
  cursor: pointer;
}

#tablecontainer .uploadify-queue-item{
  margin-top: 0px;
  max-height: 40px;
  line-height: 40px;
  overflow: hidden;
}

#tablecontainer .uploadify-queue-item div{
 height: 40px;
 line-height: 40px;
 overflow: hidden;
}

#down_tablecontainer .downloadify-queue-item{
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

#down_tablecontainer .downloadify-queue-item .down_name{
  width: 150px;
  float:left;
  line-height: 40px;
  text-align: center;
  font-size:14px;
  color: #333;
}

#down_tablecontainer .downloadify-queue-item .down_percent,
#down_tablecontainer .downloadify-queue-item .down_operation{
  width:95px;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-style:normal;
}

#down_tablecontainer .downloadify-queue-item .down_progressnum{
  width:140px;
  float: left;
  line-height: 40px;
  text-align: center;
  color: #333;
}

.upload-list-container a:hover,
.download-list-container a:hover{
  background-color: rgba(238, 238, 238, 1);
}
.listBackgroundColor {
 background-color: rgba(238, 238, 238, 1);
}

